.root {
}

.header {
  align-items: flex-end;
  column-gap: 1rem;
  flex: 0 0 auto;
  display: none;
}

@media (min-width: 1024px) {
  .header {
    display: flex;
  }
}

.meta {
  flex: 1 1 auto;
}

.thumbnail {
  width: 8rem;
  height: 8rem;
  border-radius: 0.5rem;
}

.controls {
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .controls {
    justify-content: flex-start;
    margin-top: 1.5rem;
  }
}

.list {
  display: none;
}

@media (min-width: 1024px) {
  .list {
    margin-top: 1.5rem;
    display: block;
  }
}
